body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #0d1117;
  color: #e6edf3;
  text-align: center;
}

header {
  background: #161b22;
  padding: 2rem 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

h1 {
  color: #58a6ff;
  margin-bottom: 0.3rem;
}

.p-h2 {
    margin-top: 2px;
}

.perfil img {
  border-radius: 50%;
  margin: 20px 0;
  border: 3px solid #58a6ff;
}

.p-sobre {
    padding: 5px 22%;
}

.projetos {
  background: #1e2632;
  padding: 2rem 1rem;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px;
}

.card {
  background: #0d1117;
  border: 1px solid #30363d;
  border-radius: 10px;
  padding: 1rem;
  width: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.card-png {
    width: 30px;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  border-color: #58a6ff;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 0.9rem;
  background: #161b22;
}
